{% extends '../base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load i18n %}
{% load humanize %}

{% block head_title %}予算・実績一覧{% endblock %}

{% block content %}
<div class="container-fluid px-4">
  <div class="row">
      <h4 class="mb-3 mt-3">
        <i class="fa-solid fa-table-list"></i> 予算・実績一覧
      </h4>
      <table class="table table-hover table-striped table-bordered table-sm small">
        <thead class="table-light text-center">
          <tr>
            <th scope="col">会計期</th>
            <th scope="col">年月</th>
            <th scope="col">予算</th>
            <th scope="col">実績</th>
            <th scope="col">予実差</th>
          </tr>
        </thead>
        <tbody>
        {% for item in items %}
          <tr>
            <td class="text-center">{{ item.accounting_period }}</td>
            <td class="text-center">{{ item.accounting_month }}</td>
            <td class="text-end">{{ item.sales_budget_total | intcomma }}</td>
            <td class="text-end">{{ item.amount_of_sales_total | intcomma }}</td>
            {% if item.difference_total < 0 %}
            <td class="text-end text-danger">{{ item.difference_total | intcomma }}</td>
            {% else %}
            <td class="text-end">{{ item.difference_total | intcomma }}</td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}