{% extends '../../base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load humanize %}

{% block head_title %}売上予算一覧{% endblock %}

{% block content %}
<div class="container-fluid p-4 small">
    <!-- Modal -->
    <div class="modal fade" id="search_form" tabindex="-1" aria-labelledby="search_form_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'app:sales_budget.index' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="search_form_label">検索条件</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% bootstrap_form search_form layout='horizontal' size='sm' %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa-solid fa-magnifying-glass"></i> 検索
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> 閉じる
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="mb-3">
                <i class="fa-solid fa-table-list"></i> 売上予算一覧
            </h4>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-outline-secondary btn-sm mb-3 mx-2" data-bs-toggle="modal" href="#search_form" role="button">
                <i class="fa-solid fa-filter"></i>
            </a>
            <a href="{% url 'app:sales_budget.create' %}" class="btn btn-primary btn-sm mb-3">
                <i class="fa-solid fa-file-circle-plus"></i> 新規追加
            </a>
        </div>
    </div>
    <div class="row">
        {% if sales_budgets|length == 0 %}
        <div class="col-8 offset-2">
            <div class="alert alert-warning" role="alert">
                検索結果が存在しません。
            </div>
        </div>
        {% else %}
        <table class="table table-hover table-striped table-bordered table-sm small">
            <thead class="table-light text-center">
                <tr>
                <th scope="col">会計期</th>
                <th scope="col">Version</th>
                <th scope="col">営業部門</th>
                <th scope="col">分類</th>
                <th scope="col">取引先</th>
                <th scope="col">プロジェクト</th>
                <th scope="col">担当</th>
                <th scope="col">年月</th>
                <th scope="col">売上予算</th>
                <th>　</th>
                </tr>
            </thead>
            <tbody class="align-middle">
            {% for sales_budget in sales_budgets %}
                <tr>
                    <td>{{ sales_budget.accounting_period }}</td>
                    <td>{{ sales_budget.version }}</td>
                    <td>{{ sales_budget.sales_department }}</td>
                    <td>{{ sales_budget.classification }}</td>
                    <td>{{ sales_budget.client_name }}</td>
                    <td>{{ sales_budget.project_name }}</td>
                    <td>{{ sales_budget.operator }}</td>
                    <td>{{ sales_budget.accounting_month }}</td>
                    <td class="text-end">{{ sales_budget.sales_budget|intcomma }}</td>
                    <td class="text-center">
                        <a href="{% url 'app:sales_budget.update' sales_budget.pk %}" class="btn btn-sm">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a href="{% url 'app:sales_budget.delete' sales_budget.pk %}" class="btn btn-sm">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination justify-content-center">
            {% bootstrap_pagination page_obj %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
